.sub_header{padding: 10px 0 0 10px; font-weight: bold;}
.navigasi-jawaban, .sidenav {
  position: fixed;
  z-index: 1;
  top: 110px;
  right: 0;
}
.radio-pilihan{
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  cursor: pointer;
}
label.pilihan{
  cursor: pointer;
}
.loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0.8;
  background: url('../img/ajax-loader.gif') 
              50% 50% no-repeat rgb(249,249,249);
}